<!DOCTYPE html>
<html ng-app="myMod">
<head>
<title>angular</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

<script src="window_9.js"></script>
</head>
<body>

<div ng-controller="myctrl">
<input type = "button" value="click to See Alert1" ng-click="DisplayAlert1()">

<input type = "text" placeholder="Enter your name" ng-model="name">

<input type = "button" value="click to See Alert2" ng-click="DisplayAlert2(name)">

<input type = "button" value="click to See prompt" ng-click="DisplayPrompt()">








</div>
</button>
</body>
</html>
