#p{
border:3px double green;
}
#q{
border:3px dotted red;
}
#r{
border-style:solid;
}

#a{
border-style:solid;
}
#b{
border-style:dotted;
}
#c{
border-style:double;
}
#t{
border-styl:dotted;
}
#h{
border-styl:solid;
}
#f{
border-styl:dotted;
}
