#p{
background-color:pink;
border-style:dotted;
}
.q{
border-style:dashed;
}
.r{
border-style:solid;
}
.a{
border-style:double;
}
.b{
border-style:groove;
}
.t{
border-style:inset;
}
.b{
border-style:outset;
}
.s{
border-style:ridge;
}


