body{
background-image:url("/home/student/HTMl Program sss/19-23 css/css 1website/pexels-s-migaj-747964(1).jpg");
background-size:cover;
color:red;
}
a{
font-size:medium;
font-family:"times new roman",times;
color:blue;
}
